<div class="navbar-wagon">
  <!-- Logo -->
  <h1><%= link_to 'Mr Cocktail', cocktails_path %></h1>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Links -->
    <%= link_to "Add a cocktail", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-link navbar-wagon-button" %>
  </div>
</div>
