<figure class="snip1533">
  <figcaption>
    <blockquote>
      <p> <%= review.content %></p>
    </blockquote>
    <h3> <%= image_tag review.avatar, class:'avatar-large' %><%= review.name %></h3>
  </figcaption>
</figure>