<%= render 'shared/banner'%>

<div class='section'>
  <h2 class='text-center'> Nos derniers cocktails </h2>
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <%= render 'shared/card', cocktail: cocktail %>
        </div>
      <% end %>
    </div>
    <%= link_to 'Tous nos cocktails >', cocktails_path, class: 'pull-right text-orange' %>
  </div>
</div>

<div class='section section-white'>
  <h2 class='text-center'> Ce que les Teachers en pensent </h2>
  <div class="container">
    <div class="row">
      <% @reviews.each do |review| %>
        <div class="col-xs-12 col-sm-4">
          <%= render 'shared/testimonial', review: review %>
        </div>
      <% end %>
    </div>
  </div>
</div>

